<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.olive.carbon_tracker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UI.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UI.MainMenu" />
        <activity android:name=".UI.DisplayCarbonFootprint" />
        <activity
            android:name=".UI.DisplayRouteList"
            android:label="@string/title_activity_display_route_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".UI.AddNewRoute" />
        <activity
            android:name=".UI.AddCar"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UI.DisplayCarList"
            android:label="@string/title_activity_display_car_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".UI.Chart" />
        <activity android:name=".UI.SelectTransportationModeAndDate" />
        <activity android:name=".UI.EditJourney" />
        <activity android:name=".UI.DisplayJourneyList"></activity>
        <activity android:name=".UI.SelectTransportationModeAndDate" />
        <activity android:name=".UI.Calendar"></activity>
    </application>

</manifest>